$msgColor: hsl(210, 17%, 87%);
$otherMsgcolor: hsl(192, 15%, 92%);

html,
body {
	font-size: 16px;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	color: #444;
}

body {
	background-color: #f7f7f7;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.4rem;
}

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	align-items: baseline;
	background-color: rgba(52, 73, 94, 0.9);
	color: #eee;
	z-index: 10;

	p {
		margin-left: auto;
	}
}

input,
button {
	padding: 3px 10px;
	border: none;
	background: none;
	min-width: 50px;
	border-radius: 0;
}

.main,
nav,
.sendMessage {
	padding: 20px 5%;
}

.messages {
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
}

.message {
	width: 80%;
	background-color: $msgColor;
	padding: 10px 15px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 5px;
}

@mixin triangle() {
	display: block;
	content: " ";
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 12px;
	transform: rotate(45deg);
	background-color: $msgColor;
	border-radius: 2px;
	z-index: -1;
}

.other {
	background-color: $otherMsgcolor;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
	&::before {
		@include triangle();
		background-color: $otherMsgcolor;
		left: -12px;
	}
}

.self {
	align-self: flex-end;

	&::after {
		@include triangle();
		right: -12px;
	}
}

.user {
	font-weight: normal;
}

.timestamp {
	text-align: right;
	color: #888;
	font-size: 0.8rem;
}

.sendMessage {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(52, 73, 94, 0.9);

	input {
		flex: 4;
		color: #eee;
		border-bottom: 2px solid rgba(236, 240, 241, 1);
		transition: 0.1s all ease-in-out;

		&:focus {
			border-color: rgba(52, 152, 219, 1);
			transition: 0.1s all ease-in-out;
		}
	}

	button {
		flex: 1;
		font-weight: bold;
		color: #eee;
		background-color: rgba(52, 152, 219, 1);
		cursor: pointer;
		border-radius: 5px 5px 5px 0;
		transition: 0.1s all ease-in-out;

		&:hover,
		&:active {
			background-color: #9b59b6;
			transition: 0.1s all ease-in-out;
		}
	}
}

.namePicker {
	margin-top: 50px;
	text-align: center;

	input {
		text-align: center;
		margin: 15px auto;
		display: block;
		border-bottom: 2px solid #34495e;
		transition: 0.1s all ease-in-out;

		&:focus {
			border-color: #9b59b6;
			transition: 0.1s all ease-in-out;
		}
	}

	button {
		background-color: #3498db;
		color: #eee;
		padding: 5px 40px;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.1s all ease-in-out;

		&:hover,
		&:active {
			background-color: #9b59b6;
			transition: 0.1s all ease-in-out;
		}
	}
}
